.main-section{
  background-color: #F8F8F8;
}
.dropdown{
  float:left;
  padding-right: 30px;
}
.login{
  float:right;
  padding-right: 1px;
}
.btn{
  border:0px;
  margin:10px 0px;
  box-shadow:none !important;
}
.dropdown .dropdown-menu{
  padding:20px;
  top:30px !important;
  width:350px !important;
  left:-50px !important;
  box-shadow:0px 5px 30px black;
}
.total-header-section{
  border-bottom:1px solid #d2d2d2;
}
.total-section p{
  margin-bottom:20px;
}
.cart-detail{
  padding:15px 0px;
}
.cart-detail-img img{
  width:100%;
  height:100%;
  padding-left:15px;
}
.cart-detail-product p{
  margin:0px;
  color:#000;
  font-weight:500;
}
.cart-detail .price{
  font-size:12px;
  margin-right:10px;
  font-weight:500;
}
.cart-detail .count{
  color:#C2C2DC;
}
.checkout{
  border-top:1px solid #d2d2d2;
  padding-top: 15px;
}
.checkout .btn-primary{
  border-radius:50px;
  height:50px;
}
.dropdown-menu:before{
  content: " ";
  position:absolute;
  top:-20px;
  right:50px;
  border:10px solid transparent;
  border-bottom-color:#fff;
}

.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption{
  margin: 7px;
  flex: 1; /* additionally, equal width */
  padding: 1em;
}

.page {
  margin-top: 50px;
}

.btn-holder{
  text-align: center;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
      width:20%;
      display: inline !important;
  }
  .actions .btn{
      width:36%;
      margin:1.5em 0;
  }

  .actions .btn-info{
      float:left;
  }
  .actions .btn-danger{
      float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
      content: attr(data-th); font-weight: bold;
      display: inline-block; width: 8rem;
  }

  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}

#OutPopup {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
  background:#F8F8F8;
}

.row {
  display: flex; /* equal height of the children */
}